nav ul li a {
  font-size: 24px;
}
.companyName {
  font-size: 32px;
  font-weight: 500;
}
a {
  text-decoration: none;
}
.navbar {
  background-color: #0dcaf0;
}
@media (max-width: 991px) {
  nav ul li a {
    font-size: 16px;
  }
  .companyName {
    font-size: 20px;
    font-weight: 500;
  }
}
