.summary-outer {
  height: 100vh;
  background-color: #0dcaf0;
}
.summary {
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #fff;
}
.confirm-btn {
  position: absolute;
  right: auto;
  bottom: 14px;
  left: auto;
  background: white;
  color: #0dcaf0;
  font-weight: 500;
  font-size: 20px;
  left: 50%;
 -webkit-transform: translateX(-50%);
 -moz-transform: translateX(-50%);
 transform: translateX(-50%);
 width: 82%;
}
